{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:scan_export_summary' %}" class="button" style="background-color: #417690;">
            Export User Summary (CSV)
        </a>
    </li>
    <li>
        <a href="{% url 'admin:scan_export_all' %}" class="button" style="background-color: #417690;">
            Export All Scans (CSV)
        </a>
    </li>
    <li>
        <a href="{% url 'admin:scan_mass_add' %}" class="addlink">
            Mass Add Scans
        </a>
    </li>
    {{ block.super }}
{% endblock %}
